PORT=5000
MONGO_URI=mongodb+srv://narayanvanuttech_db_user:wszUqeuaKICdbtuM@cluster0.r6ok9k1.mongodb.net/MABC
MONGODB_BACKUP=mongodb+srv://premanandavanurtech_db_user:VHLDqs7lj1ukm0Pv@cluster0.aw0hp3c.mongodb.net/MABC_BACKUP_DATA
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174

CLOUDINARY_CLOUD_NAME=ed2n8pag
CLOUDINARY_API_KEY=558559361652771
CLOUDINARY_API_SECRET=HiROgpAzRhHwvReNGhcSIpzRcb8

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=your_razorpay_secret
RAZORPAY_CURRENCY=INR

ADMIN_NAME=MomBabyCare Admin
ADMIN_EMAIL=mombabaycare@office.com
ADMIN_PASSWORD=mombabaycare@123!
AUTH_SECRET=BJFJVGVDBCKJBD&^&*DHBC*YUDVCBDMCVKDMFH*&^%653465487687tvbjuygVKhdbv8h375hfn
 